body{
    background-color: violet;

}

h1{
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 65px;
}

nav::before{
    content: ;
}
nav::after{
    content: ;
}

sh{
   font-weight: bold;
   font-size: 18px; 
}

img{
    height: 15cm;
    width: 15cm;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: purple solid 5px;
}

body>p{
    font-size: 20px;
}


ul:hover{
    color: wheat;
    font-family: 'Fruktur', cursive;
}

#GCSEs:first-child{
    t
}