body{
    background-color: violet;

}

h1{
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 65px;
}

img{
    height: 15cm;
    width: 15cm;
    display: block;
    margin-left: auto;
    margin-right: auto;
}